<style type="text/css">
  #device {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 300px;
    height: 597px;
  }
</style>
<iframe
  id="device"
  src="https://appetize.io/embed/{{app.publicKey}}?device={{device.model}}&amp;osVersion=6.0&amp;autoplay=true&amp;orientation={{device.orientation}}&amp;deviceColor=black&amp;xdocMsg=true&amp;params=%7b%22chetbot.server%22%3a%22{{server}}%22%2c%22chetbot.device%22%3a%22{{device.id}}%22%7d{{#device.location}}&amp;location={{.}}{{/device.location}}"
  frameborder="0"
  scrolling="no">
</iframe>

<script>
  // Heartbeat to prevent device timing out
  var device_iframe = document.getElementById('device');
  setInterval(function() {
    device_iframe.contentWindow.postMessage('heartbeat', '*');
  }, 15 * 1000);

  // Ensure the device is running
  setInterval(function() {
    device_iframe.contentWindow.postMessage('requestSession', '*');
  }, 5 * 1000);

  // Appetize.io logging
  window.addEventListener('message', function(event) {
    console.log('appetize.io: ' + event.data);
  });
</script>
