{{#device}}
  <script src="/components/underscore/underscore-min.js" charset="utf-8"></script>
  <style type="text/css">
    #device {
      position: absolute;
      top: 20px;
      left: 40px;
      width: 300px;
      height: 597px;
    }
  </style>

  <iframe
    id="device"
    src="https://appetize.io/embed/{{publicKey}}?device={{model}}&amp;osVersion={{os_version}}&amp;autoplay=true&amp;orientation={{orientation}}&amp;deviceColor=black&amp;xdocMsg=true&amp;params={{encodeJSONURIComponent params}}{{#location}}&amp;location={{encodeURIComponent .}}{{/location}}"
    frameborder="0"
    scrolling="no">
  </iframe>

  <script>
    var device_iframe = document.getElementById('device');

    // Ensure the device starts
    var ensure_device_loaded = setInterval(function() {
      device_iframe.contentWindow.postMessage('requestSession', '*');
    }, 5 * 1000);
    window.addEventListener('message', function(event) {
      if (event.data === 'firstFrameReceived') {
        clearInterval(ensure_device_loaded);
      }
    });

    // Expose a way of keeping the device running
    window.keep_device_running = _.throttle(
      function() {
        device_iframe.contentWindow.postMessage('requestSession', '*');
        device_iframe.contentWindow.postMessage('heartbeat', '*');
      },
      5 * 1000,
      { trailing: false }
    );

    // Appetize.io logging
    window.addEventListener('message', function(event) {
      console.log('appetize.io: ' + event.data);
    });
  </script>

{{/device}}
