<div id="editor-container" class="editing">
  <link rel="stylesheet" href="/css/repl.css"/>
  <style type="text/css" scoped>
    #editor-container {
      position: fixed;
      top: 0;
      left: 380px;
      right: 0;
      bottom: 0;
    }

    #editor-container:not(.editing) #controls a.back,
    #editor-container.editing:not(.running) #controls a.run,
    #editor-container.running #controls a.stop {
      display: inline-block;
    }

    #statusbar {
      background: #444;
      position: absolute;
      left: 0;
      right: 0;
      height: 24px;
      bottom: 0;
      transition: bottom .2s ease-out;
      z-index: 5;
      box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.5), 0 5px 5px -5px rgba(0,0,0,0.5);
    }

    #statusbar .keyboard-mode paper-icon-button {
      opacity: 0.67;
    }

    #statusbar > *:last-child {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .show-repl #statusbar {
      bottom: 150px;
    }

    #statusbar paper-icon-button {
      font-size: 12px;
      padding: 0;
      margin: 0 0.5em;
      color: rgba(255,255,255,0.67);
      height: 1.5em;
    }

    .content-panel {
      display: block;
      position: absolute;
      top: 64px;
      bottom: 0;
      left: 0;
      right: 0;
      transition: bottom .2s ease-out;
      bottom: 24px; /* make room for #statusbar */
    }

    .show-repl .content-panel {
      bottom: 174px;
    }

    /* Make the editor look better loading */
    #editor {
      background: #1D1F21;
    }
    #editor .ace_gutter {
      background: #25282c;
    }

    #editor-container.editing #test-report {
      display: none;
    }

    #editor-container:not(.editing) #editor {
      display: none;
    }

    #controls {
      padding: 0 12px;
      height: 64px;
    }

    #controls > * {
      font-size: 16px;
      vertical-align: middle;
      line-height: 1.0;
      margin-top: 12px;
    }

    #controls a {
      display: none;
      color: #fff;
    }

    #editor-container #controls a.run {
      position: relative;
      top: 0;
      transition: top 200ms ease-out, opacity 200ms ease-out;
      opacity: 1;
    }

    #editor-container:not(.device-ready) #controls a.run {
      top: 4em;
      opacity: 0;
    }

    body.saving #controls .status.saving {
      opacity: 1;
    }
  </style>
  <style type="text/css" media="print" scoped>
    #editor-container {
      left: 0;
    }

    #editor, #test-report {
      top: 0;
      left: 0;
    }

    iframe, #controls {
      display: none;
    }
  </style>
  <div id="controls">
    <a class="back" href="javascript:showEditor();" title="Back to editor">
      <paper-icon-button icon="create"></paper-icon-button>
    </a>
    <a class="run" href="javascript:run_test([{id: '{{code.id}}', source: editor.getSession().getDocument().getValue()}], '{{server}}', '{{device.id}}', '{{app.id}}', '{{code.id}}');" title="Run test">
      <paper-icon-button icon="av:play-arrow"></paper-icon-button>
    </a>
  </div>
  <div id="editor" class="content-panel">{{#code.content}}{{.}}{{/code.content}}</div>
  {{> test-report}}
  <div id="statusbar">
    <a class="keyboard-mode" onclick="open_dialog('keyboard-mode');" title="Change keyboard mode">
      <paper-icon-button icon="hardware:keyboard"></paper-icon-button>
    </a>
    <a class="repl" onclick="toggle_repl();">
      <paper-icon-button icon="code"></paper-icon-button>
    </a>
  </div>
  <div id="repl"></div>
</div>

<!-- enable run button when device loads -->
<script>
window.addEventListener('message', function(event) {
  if (event.data == 'firstFrameReceived') {
    $('#editor-container').addClass('device-ready');
  }
});
</script>

<!-- editor -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ext-language_tools.js" charset="utf-8"></script>
<script>
  var language_tools = ace.require('ace/ext/language_tools');

  var editor = ace.edit('editor');
  editor.getSession().on('changeMode', function() {
    // Automatically fold code
    editor.getSession().foldAll();
  });
  editor.setTheme('ace/theme/tomorrow_night');
  editor.getSession().setMode('ace/mode/javascript');
  editor.setOptions({
    enableLiveAutocompletion: true,
    enableSnippets: false
  });
  editor.getSession().setTabSize(2);
  editor.getSession().setUseSoftTabs(true);
  editor.setShowPrintMargin(false);
</script>

{{#autosave}}
<script src="/js/chetbot-autosave.js"></script>
<script>
  autosave(editor);
</script>
{{/autosave}}

<!-- repl -->
<script type="text/javascript" src="/js/repl.js"></script>
<script type="text/javascript">
  var repl;

  function show_repl() {
    $('body').addClass('show-repl');
    setTimeout(function() { editor.resize(); }, 200);
    repl.focus();
  }

  function hide_repl() {
    $('body').removeClass('show-repl');
    setTimeout(function() { editor.resize(); }, 200);
    editor.focus();
  }

  function toggle_repl() {
    if ($('body').hasClass('show-repl')) {
      hide_repl();
    } else {
      show_repl();
    }
  }

  repl = setup_repl('{{server}}', '{{device.id}}', '{{app.id}}', 'repl', {
    onClose: toggle_repl
  });
</script>

<!-- autocomplete -->
<script type="text/javascript">
  // TODO: fetch bultin functions from server
  var builtin_fns = [
    'function', 'for', 'var', 'while', 'do', // JS
    'activity', 'content_view', 'run_on_ui_thread', // Activity
    'tap', 'press', 'type_text', 'hide_keyboard', 'wait', 'screenshot', 'open_drawer', 'close_drawer', 'in_webview', 'swipe_left', 'swipe_right', 'swipe_up', 'swipe_down', // interaction
    'view', 'views', 'bottommost', 'topmost', 'leftmost', 'rightmost', 'centermost', 'outermost', 'closest_to', 'furthest_from',  // selectors
    'location', 'size', 'text', 'id', 'class_of', 'visible', 'count', 'all_ids', 'all_text', 'all_types', // inspection
    'assert_true', 'assert_false', 'assert_equal', 'assert_visible', // assertions
    'wait', 'wait_for', // wait
    'open_uri' // IPC
  ];
  var my_completer = {
    getCompletions: function(editor, session, pos, prefix, callback) {
      callback(null, builtin_fns.map(function(f) {
        return {caption: f, snippet: f};
      }));
    }
  };
  editor.completers = [language_tools.textCompleter, my_completer];
  if (repl) repl.completers   = [my_completer];
</script>

<!-- keyboard shortcuts -->
<script type="text/javascript">
  $(document).keydown(function(e) {
    if (e.which === 'S'.charCodeAt(0) && (e.ctrlKey || e.metaKey)) {
      save(editor);
      e.preventDefault();
    }
    if (e.which === 'I'.charCodeAt(0) && (e.ctrlKey || e.metaKey)) {
      toggle_repl();
      e.preventDefault();
    }
    if (e.which === 'R'.charCodeAt(0) && e.ctrlKey) {
      eval( $('#controls a.run:visible').attr('href') );
      e.preventDefault();
    }
    if (e.which == 27 /* ESC */) {
      var $back = $('#controls a.back');
      if ($back.is(':visible')) {
        eval( $back.attr('href') );
        e.preventDefault();
      }
    }
    if (e.which === 13 && (e.ctrlKey || e.metaKey)) { /* Return */
      if (!window.repl) return;
      var selection = editor.getSelection();
      var script = selection.isEmpty()
        ? editor.getSession().getLine(editor.getSelectionRange().start.row)
        : editor.getSession().getTextRange(editor.getSelectionRange());
      show_repl();
      repl.run(script);
      editor.focus();
      e.preventDefault();
    }
  });
</script>

{{#unless device.wait_for_user_to_start}}
  <script>
    // If the user is interacting with the editor or REPL prevent the device timing out
    editor.on('change', keep_device_running);
    if (window.repl) {
      repl.on('change', keep_device_running);
    }
  </script>
{{/unless}}

{{> set-keyboard-mode-dialog user}}

<!-- test runner -->
<script src="/js/esprima.min.js" charset="utf-8"></script>
<script src="/js/escodegen.min.js" charset="utf-8"></script>
<script src="/js/script-runner.js"></script>
<script src="/js/test-runner.js"></script>
