<script src="/components/konami-js/konami.js"></script>
<script>
  var easter_egg = new Konami();
  easter_egg.code = function() {
    $.get('http://api.giphy.com/v1/gifs/search?q=boop&api_key=dc6zaTOxFJmzC')
    .then(function(data) {
      var image_urls = data.data.map(function(img) {
        return img.images.downsized_large.url;
      });
      var random_image = image_urls[Math.floor(Math.random() * image_urls.length)];
      var $span = $('<span>').css({
        position: 'absolute',
        top: '25px',
        left: '25px',
        width: '50px',
        height: '70px',
        'background-size': 'cover',
        'background-position': 'center center',
        'background-image': 'url(' + random_image + ')',
        'box-shadow': '0 0 4px #000 inset'
      });
      $('.illustration.ide').remove('.egg').append($span.addClass('egg'));
    });
  };
  easter_egg.load();
</script>
