<style>
  footer {
    margin-top: 2em;
  }

  .mdl-mini-footer {
    padding-bottom: 6em;
  }

  footer * {
    font-weight: 100;
  }
  footer .privacy {
    margin-top: 1em;
    font-size: 0.8em;
  }
  footer .privacy a.iubenda-embed {
    text-decoration: underline;
    color: inherit;
  }
</style>
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">boop.js</div>
    <ul class="mdl-mini-footer__link-list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/apps">My Apps</a>
      </li>
      <li>
        <a href="/pricing">Pricing</a>
      </li>
      <li>
        <a href="/docs" target="_blank">API Documentation</a>
      </li>
      <li>
        <a href="mailto:hello@boopjs.com" target="_blank">Contact us</a>
      </li>
    </ul>
    <div class="privacy">
      We're using cookies. Hope that's okay.
      Here's our <a href="//www.iubenda.com/privacy-policy/7796980" class="iubenda-white iubenda-embed" title="Privacy Policy" target="_blank">Privacy Policy</a>.
    </div>
  </div>
</footer>
