<link href="//fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css">

<link href="/components/paper-header-panel/paper-header-panel.html" rel="import">
<link href="/components/paper-toolbar/paper-toolbar.html" rel="import">
<link href="/components/paper-fab/paper-fab.html" rel="import">
<link href="/components/iron-icons/iron-icons.html" rel="import">
<link href="/components/iron-icons/av-icons.html" rel="import">
<link href="/components/paper-icon-button/paper-icon-button.html" rel="import">

<style is="custom-style">
  paper-toolbar {
    --paper-toolbar-background: #00BCD4;
  }

  paper-toolbar .account img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  paper-toolbar a {
    color: #fff;
    z-index: 2;
  }
</style>

<style type="text/css">
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgba(0,0,0,0.87);
  }

  h1, h2, h3, h4 {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: #777;
  }

  paper-fab.secondary {
    background-color: #fff;
    color: #00BCD4;
  }
</style>
