<link href="//fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css">

<link href="/components/paper-header-panel/paper-header-panel.html" rel="import">
<link href="/components/paper-toolbar/paper-toolbar.html" rel="import">
<link href="/components/paper-fab/paper-fab.html" rel="import">
<link href="/components/iron-icons/iron-icons.html" rel="import">
<link href="/components/iron-icons/av-icons.html" rel="import">
<link href="/components/paper-icon-button/paper-icon-button.html" rel="import">

<style is="custom-style">
  paper-toolbar {
    --paper-toolbar-background: #00BCD4;
  }

  paper-toolbar .account img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  paper-toolbar .title a {
    opacity: 0.5;
    pointer-events: auto;
  }

  paper-toolbar a {
    color: #fff;
    z-index: 2;
  }

  paper-fab {
    background-color: #FF5722;
    color: rgba(255,255,255,0.87);
  }

  paper-fab.secondary {
    background-color: #fff;
    color: #00BCD4;
  }

  paper-icon-button.compact {
    padding: 0;
    position: relative;
    top: -0.1em;
  }
</style>

<style type="text/css">
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgba(0,0,0,0.87);
  }

  h1, h2, h3, h4 {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: #777;
  }

  #fab {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }

  paper-toolbar a.account {
    margin-left: 0.3em;
  }
</style>
