<link href="//fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css">

<script src="/components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link href="/components/paper-header-panel/paper-header-panel.html" rel="import">
<link href="/components/paper-toolbar/paper-toolbar.html" rel="import">
<link href="/components/paper-fab/paper-fab.html" rel="import">
<link href="/components/iron-icons/iron-icons.html" rel="import">
<link href="/components/iron-icons/av-icons.html" rel="import">
<link href="/components/iron-icons/social-icons.html" rel="import">
<link href="/components/iron-icons/communication-icons.html" rel="import">
<link href="/components/iron-icons/hardware-icons.html" rel="import">
<link href="/components/paper-icon-button/paper-icon-button.html" rel="import">
<link href="/components/paper-dialog/paper-dialog.html" rel="import">
<link href="/components/neon-animation/animations/fade-in-animation.html" rel="import">
<link href="/components/neon-animation/animations/fade-out-animation.html" rel="import">
<link href="/components/paper-input/paper-input.html" rel="import">
<link href="/components/paper-button/paper-button.html" rel="import">
<link href="/components/paper-spinner/paper-spinner.html" rel="import">
<link href="/components/paper-radio-group/paper-radio-group.html" rel="import">
<link href="/components/paper-radio-button/paper-radio-button.html" rel="import">

<style is="custom-style">
  /* branding hack */
  paper-header-panel.boop-brand-color paper-toolbar,
  paper-header-panel.boop-brand-color .paper-header  {
    background-color: #4e265a;
  }

  paper-header-panel > div.paper-header {
    padding-bottom: 8px;
  }

  paper-header-panel div.content {
    margin-bottom: 78px;
  }

  paper-toolbar {
    --paper-toolbar-background: #00BCD4;
    color: rgba(255,255,255,0.87);
  }

  .paper-header {
    background-color: #00BCD4;
    color: rgba(255,255,255,0.87);
    padding: 0 1em;
    padding-top: 0.5em;
  }

  .paper-header .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
  }

  paper-toolbar .account img, .paper-header .account img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5)
  }

  paper-toolbar .title a, .paper-header .title a {
    pointer-events: auto;
  }

  paper-toolbar a , .paper-header a {
    color: rgba(255,255,255,0.87);
    z-index: 2;
  }

  paper-fab {
    background-color: #F44336; /* accent color */
    color: rgba(255,255,255,0.87);
  }

  paper-fab.secondary {
    background-color: #fff;
    color: #653B71;
  }

  paper-icon-button.compact {
    padding: 0;
    position: relative;
    top: -0.4em;
  }

  paper-dialog {
    min-width: 300px;
  }

  paper-button.primary {
    color: #4285f4;
  }
</style>

<style type="text/css">
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgba(0,0,0,0.87);
  }

  h1, h2, h3, h4 {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: #777;
  }

  #fab {
    position: fixed;
    right: 32px;
    bottom: 32px;
  }

  paper-toolbar a.account {
    margin-left: 0.3em;
  }
</style>

<script>
  // Popup dialogs
  function open_dialog(clazz) {
    $('paper-dialog.' + clazz).get(0).open();
  }
  function close_dialog(trigger) {
    $(trigger).closest('paper-dialog').get(0).close();
  }
</script>
