<style type="text/css">
  paper-icon-button.saving {
    display: none;
    opacity: 0.5;
  }
  body.saving paper-icon-button.saving {
    display: inline-block;
  }
</style>
<paper-icon-button class="saving" icon="save" title="Saving&#8230;"></paper-icon-button>

<style type="text/css">
  paper-icon-button.save-error {
    color: #FF5252;
    display: none;
    opacity: 0.9;
  }
  body.save-error paper-icon-button.save-error {
    display: inline-block;
  }
</style>
<paper-icon-button class="save-error" icon="warning" title="Error saving code"></paper-icon-button>
