<paper-dialog class="location"
    entry-animation="fade-in-animation"
    exit-animation="fade-out-animation"
    withBackdrop="true">
  <paper-input name="lat" label="Latitude" type="number" min="-90" max="90" no-label-float="true" value="{{location.lat}}" autoFocus="true"></paper-input>
  <paper-input name="lon" label="Longitude" type="number" min="-180" max="180" no-label-float="true" value="{{location.lon}}"></paper-input>
  <div style="margin-top: 2em; text-align: right;">
    <paper-button onclick="close_dialog(this);"><iron-icon icon="clear"></iron-icon>Cancel</paper-button>
    <paper-button onclick="set_location(this); close_dialog(this);" class="primary"><iron-icon icon="communication:location-on"></iron-icon>Save</paper-button>
  </div>
</paper-dialog>

<script>
  function set_location(button) {
    var $dialog = $(button).parents('paper-dialog'),
        lat = parseFloat($dialog.find('paper-input[name=lat]').get(0).value),
        lon = parseFloat($dialog.find('paper-input[name=lon]').get(0).value),
        location_set = !isNaN(lat) && !isNaN(lon);
    if (location_set) {
      // Update the location on the device now
      device_iframe.contentWindow.postMessage({type:'location', value:[lat, lon]}, '*');
    }
    // Save location to server
    $.ajax(location.pathname + '/location', {
      method: 'PUT',
      contentType: 'text/plain; charset=UTF-8',
      data: JSON.stringify(location_set ? {lat:lat, lon:lon} : null), // HACK: stored as plain text with JSON string
      success: function() {
        console.log('Location set: ', [lat, lon]);
      },
      error: function(e) {
        console.error(e);
      }
    });
  }
</script>
